<header class="app-header">
  <div class="logo">wave</div>
  <nav>
    <a routerLink="/explore" routerLinkActive="active">Find a College</a>
    <a routerLink="/plan" routerLinkActive="active">Plan for College</a>
    <a routerLink="/apply" routerLinkActive="active">Apply to College</a>
    <a routerLink="/support" routerLinkActive="active">Support your students</a>
    <a routerLink="/contactus" routerLinkActive="active">Contact us</a>
  </nav>
  <div class="auth-buttons">
    <a class="btn-login" routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/signup" routerLinkActive="active" class="btn-signup">Sign up</a>
  </div>
</header>

