<section class="hero-section">
  <div class="content">
    <h1>Counselors and recommenders</h1>
    <p>This year, you’ll support more than one million students applying to college. You have their backs. That’s why we have yours.</p>
  </div>
  <div class="actions">
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</section>
<div class="plan-your-future">
    <div class="header">
      <h1>Plan your future</h1>
      <p>Get connected with everything you need to apply to college, research financial aid and scholarships, and get advice from counselors, advisors and mentors.</p>
    </div>
    <div class="sections">
      <div class="section">
        <h2>WHY COLLEGE MATTERS</h2>
        <p>College is worth it. Your future is worth it. You are worth it.</p>
        <a href="#">Learn why college matters ></a>
      </div>
      <div class="section">
        <h2>PAYING FOR COLLEGE</h2>
        <p>There are lots of options available to you. We can help you find them.</p>
        <a href="#">Learn how to pay for college ></a>
      </div>
      <div class="section">
        <h2>YOUR COLLEGE ROADMAP</h2>
        <p>The path may seem unclear. We can help you find your way.</p>
        <a href="#">Learn how to get to college ></a>
      </div>
    </div>
  </div>
  
