
<footer ng-controller="FooterController">
    <div class="footer-section newsletter">
        <h4>STAY IN THE LOOP</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <form ng-submit="submitEmail()">
            <input type="email" ng-model="email" placeholder="Enter your email.">
            <button type="submit">></button>
        </form>
        <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
    <div class="footer-section links">
        <div>
            <h4>COMPANY</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Meet the team</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h4>SERVICES</h4>
            <ul>
                <li><a href="#">Web Hosting</a></li>
                <li><a href="#">Domains</a></li>
                <li><a href="#">Premium Hosting</a></li>
                <li><a href="#">Private Server</a></li>
                <li><a href="#">E-mail Hosting</a></li>
            </ul>
        </div>
        <div>
            <h4>HELP</h4>
            <ul>
                <li><a href="#">Pricing Plan</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Guide</a></li>
                <li><a href="#">Tutorial</a></li>
            </ul>
        </div>
        <div>
            <h4>LEGAL</h4>
            <ul>
                <li><a href="#">Claims</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
            </ul>
        </div>
    </div>
  </footer>

