<div class="content-section" ng-controller="ContentController as content">
    <div class="image-section">
        <!-- Image is added via CSS for background control -->
    </div>
    <div class="text-section">
        <h1>The world is ready for you. <br>Be ready for the world.</h1>
        <h3>Common App and Reach Higher have united to inspire more people to complete their education and own their future, no matter what it holds. Get valuable advice from students who have been in your shoes.</h3>
        <div class="actions">
            
            <button>Learn about our access initiatives.</button>
          </div>
    </div>
