/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
head{
    width: 100%;  
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }