<!-- home.component.html -->
<section class="hero-section">
    <div class="content">
      <h1>Apply to college</h1>
      <p>Whether you're applying to college for the first time or transferring to complete your degree, here’s how to get started on your college application.</p>
    </div>
    <div class="actions">
      <a class="btn btn-primary" href="#">Apply now</a>
    </div>












































































































































































































    
  </section>
  


